footer{
	background-color: #333333;
	color: #d0d0d0;
	padding: 10px 0 50px 0;
	font-size: 13px;
}
footer a{

	color: #d0d0d0;
}
footer a:hover{
	text-decoration: underline;
	color: #fff;
}
footer h4{
	font-weight: 600;
	margin-top: 20px;
	font-size: 20px;
}
footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
} 
footer ul li{
	font-size: 13px;
}
footer ul li a{
	color: #e0e0e0;
	text-decoration: none;
}
footer ul li a:hover{
	text-decoration: underline;
	color: #fff;
}
footer strong{
	font-weight: 600;
	color: #fff;
}

/* bootstrap hacks */
.container{
	max-width: 980px;
}
.img-responsive {
    margin: 0 auto;
}
#navbar-collapse-grid{
	position: relative;
}
.background-black{
	background-color: #000;
}
#main-navigation{
	position: absolute;
	left: -1000px;
	top: -1000px;
	margin: 0 auto;
}
#main-navigation li{
	display: inline-block;
	font-size: 10px;
	margin: 0 auto;
}
.navbar{
	position: static !important;
}
.navbar .nav > li {
  z-index: 1001;
}
.navbar-static-top{
	margin-bottom: 0;
	padding-bottom:-10px;
	min-height: 25px !important;
	background-color: #333333;

}
.navbar-left{
	line-height: 10px !important;
}
.navbar-right{

}
.medsos{
	margin: 10px 0 0 -10px;
	padding: 0;
}
.medsos li{
	margin: 0;
	padding:0;
	line-height: 10px;
}
.medsos li a{
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	padding: 1px;
	margin: 0;
}
.medsos li a:hover{
	text-decoration: none;
	box-shadow: inset 0 0 0 1000px rgba(51,51,51,.5);
}
.medsos li a.facebook{
	background-position: 0 0;
}
.medsos li a.twitter{
	background-position: -25px 0;
}
.medsos li a.gplus{
	background-position: -50px 0;
}
.medsos li a.linkedin{
	background-position: -75px 0;
}
.medsos li a.youtube{
	background-position: -100px 0;
}

.mega-domain-banner .col-sm-6{
	margin-bottom: 10px !important;
}
.btn-mega-beli-domain{
	background: #6ed2f9;
	background-image: -webkit-linear-gradient(top, #6ed2f9, #0aa8e6);
	background-image: -moz-linear-gradient(top, #6ed2f9, #0aa8e6);
	background-image: -ms-linear-gradient(top, #6ed2f9, #0aa8e6);
	background-image: -o-linear-gradient(top, #6ed2f9, #0aa8e6);
	background-image: linear-gradient(to bottom, #6ed2f9, #0aa8e6);
	color: #fff !important;
	border: none;
	font-size: 15px !important;
	padding: 7px 10px !important;
}
.mega-hosting{
	text-align: left;
}
.mega-cloud-hosting, .mega-wp-hosting, .mega-vps-hosting, .mega-sitebuilder, .mega-jasa-web{
	position: relative; 
	padding-left: 70px;
	margin-bottom: 20px;
}
.mega-cloud-hosting:before{
	content: "\00a0";
	width: 61px;
	height: 52px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	background-position: -575px -610px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.mega-cloud-hosting.svg:before{
	background-image: url('../img/svg/cloud-hosting.svg');
	background-size: 61px;
	width: 61px;
	height: 61px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mega-wp-hosting:before{
	content: "\00a0";
	width: 52px;
	height: 52px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	background-position: -575px -664px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px;
}

.mega-wp-hosting.svg:before{
	background-image: url('../img/svg/wordpress-hosting.svg');
	background-size: 52px;
	width: 52px;
	height: 52px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mega-vps-hosting:before{
	content: "\00a0";
	width: 61px;
	height: 39px;
	background-image: url('../img/sprites.png');
	background-position: -641px -610px;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px;
}
.mega-vps-hosting.svg:before{
	background-image: url('../img/svg/vps.svg');
	background-size: 61px;
	width: 61px;
	height: 61px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mega-sitebuilder:before{
	content: "\00a0";
	width: 62px;
	height: 45px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	background-position: -676px -552px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.mega-sitebuilder.svg:before{
	background-image: url('../img/svg/website-builder.svg');
	background-size: 62px;
	width: 62px;
	height: 62px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mega-jasa-web:before{
	content: "\00a0";
	width: 59px;
	height: 59px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	background-position: -741px -552px;
	display: inline-block;
	position: absolute;
	top: -2px;
	left: 3px;
}

.mega-jasa-web.svg:before{
	background-image: url('../img/svg/jasa-pembuatan-website.svg');
	background-size: 55px;
	width: 55px;
	height: 55px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mega-cloud-hosting .mega-caption, 
.mega-wp-hosting .mega-caption,
.mega-vps-hosting .mega-caption,
.mega-sitebuilder .mega-caption, 
.mega-jasa-web .mega-caption{
	font-size: 18px !important;
	color: #47ccff !important;
	margin: 0 0 3px 0 !important;
	padding: 0 !important;
	font-weight: 600;
}
.mega-cloud-hosting p, 
.mega-wp-hosting p,
.mega-vps-hosting p,
.mega-sitebuilder p, 
.mega-jasa-web p{
	font-size: 13px !important;
	line-height: 17px !important;
	color: #000 !important;
	margin: 0 0 0 0 !important;
	padding: 0 !important;
}
.mega-cloud-hosting, .mega-wp-hosting, .mega-sitebuilder{
	border-bottom: solid 1px #f0f0f0;
	padding-bottom: 20px;
}
.mega-cloud-hosting .mega-caption a, 
.mega-wp-hosting .mega-caption a,
.mega-vps-hosting .mega-caption a,
.mega-sitebuilder .mega-caption a, 
.mega-jasa-web .mega-caption a{
	color: #47ccff !important;
}
.mega-cloud-hosting .mega-caption a:hover, 
.mega-wp-hosting .mega-caption a:hover,
.mega-vps-hosting .mega-caption a:hover,
.mega-sitebuilder .mega-caption a:hover, 
.mega-jasa-web .mega-caption a:hover{
	color: #34a3ce !important;
}
.mega-sitebuilder .mega-caption span{
	color: green;
	font-style: italic;
}
.mega-all-title{
	font-weight: 600;
	font-size: 20px;
	color: #47ccff;
	border-bottom: solid 1px #f0f0f0;
	padding: 0 0 10px 0;
}
.mega-all-item{
	list-style: none;
	margin: 0;
	padding: 0 0 0 60px;
	position: relative;
}

ul.mega-all-item:before{
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
	background-image: url('../img/sprites.png?20170117');
	background-repeat: no-repeat;

}
ul.mega-all-item.hosting:before{
	background-position: -638px -650px;
	width: 70px;
	height: 45px;
}

ul.mega-all-item.hosting.svg:before{
	background-image: url('../img/svg/cloud-hosting.svg');
	background-size: 60px;
	width: 60px;
	height: 60px;
	background-position: 0 0;
}
ul.mega-all-item.domain:before{
	background-position: -648px -742px;
	width: 44px;
	height: 44px;
	margin-left: 15px;
}
ul.mega-all-item.domain.svg:before{
	background-image: url('../img/svg/domain.svg');
	background-position: 0 0;
	background-size: 60px;
	width: 60px;
	height: 60px;
	left: -10px;
}
ul.mega-all-item.email:before{
	background-position: -648px -789px;
	width: 45px;
	height: 44px;
	margin-left: 15px;
}
ul.mega-all-item.email.svg:before{
	background-image: url('../img/svg/email.svg');
	background-position: 0 0;
	background-size: 55px;
	width: 55px;
	height: 55px;
	left: -10px;

}
ul.mega-all-item.website:before{
	background-position: -648px -835px;
	width: 44px;
	height: 44px;
	margin-left: 15px;
}
ul.mega-all-item.website.svg:before{
	background-image: url('../img/svg/website-builder.svg');
	background-position: 0 0;
	background-size: 60px;
	width: 60px;
	height: 60px;
	left: -10px;
}
ul.mega-all-item.ssl:before{
	background-position: -648px -696px;
	width: 44px;
	height: 44px;
	margin-left: 15px;
}

ul.mega-all-item.ssl.svg:before{
	background-image: url('../img/svg/ssl.svg');
	background-position: 0 0;
	background-size: 50px;
	width: 50px;
	height: 60px;
	left: -5px;

}
.mega-all-item li{
	padding-left: 10px;
	margin-left: 10px;
}
.mega-all-item li a{
	text-transform: none;
	font-size: 14px;
}
.mega-all-item li a em{
	color: #94d543;
}
.mega-all-item li a:hover{
	color: #94d543 !important;
}
.mega-all-item li:before{
	content: '\00BB';
	top: -1px;
	display: inline-block;
	position: relative;
	width: 10px;
}
.top-contact{
	margin: 5px 0 0 0;
	padding: 0;
}
.top-contact li{
	margin: 0;
	padding:0;
	line-height: 25px;
	font-size: 12px;
	margin-left: 10px;
}
.top-contact li a{
	line-height: 25px;
	display: inline-block;
	color: #fff;
	font-weight: 600;
}
.top-contact li a:hover:before,.top-contact li a:hover{
	text-decoration: none;
	box-shadow: inset 0 0 0 1000px rgba(51,51,51,.5);
	color: #c0c0c0;
}
.top-contact li a:before{
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 25px;
	background-image: url('../img/sprites.png');
}
.top-contact li a.telepon:before{
	content: ' ';
	width: 20px;
	background-position: -150px 0;
	margin-right: -3px;
}
.top-contact li a.livechat:before{
	content: ' ';
	width: 25px;
	background-position: -125px 0;
}
.top-contact li a.login:before{
	content: ' ';
	background-position: -777px 0;
}
.top-contact li a.pembayaran:before{
	content: ' ';
	background-position: -777px -20px;
	margin-right: 4px;
	width: 25px;
}
.top-contact .popover{
	width: 420px !important;
	max-width: 100%;
}
.top-contact .popover-title{
	background: #6bd1f9;
	background-image: -webkit-linear-gradient(top, #6bd1f9, #0ca9e7);
	background-image: -moz-linear-gradient(top, #6bd1f9, #0ca9e7);
	background-image: -ms-linear-gradient(top, #6bd1f9, #0ca9e7);
	background-image: -o-linear-gradient(top, #6bd1f9, #0ca9e7);
	background-image: linear-gradient(to bottom, #6bd1f9, #0ca9e7);
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.top-contact .popover-content{
	font-size: 12px;
	color: #333;
}
.navbar-toggle{
	background-color: #333;
}
.navbar-toggle:hover{
	background-color: #555;
}
.navbar-toggle .icon-bar {
    background-color: #c0c0c0;
}
.navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar-utama{
	background-color: #fff;
	background-image: url('../img/bg-logo.png');
	background-repeat: repeat-x;
	height: 80px;
	line-height: 80px;
	margin-bottom: 0;
}
.logo{
	margin:0 0 0 -10px;
	padding: 0;
}
.logo a{
	display: block;
	width: 240px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	line-height: 65px;
}
.logo a span{
	visibility: hidden;
}
/* navbar menu */
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

.navbar-nav > li > a:hover{
	background-color: transparent !important;
}
/* navbar menu */
.navbar-header{
	position: relative;
	z-index: 9999;
}
.menu-utama{
	font-size: 16px;
	margin-top: 30px;
}
.menu-utama li{
	text-transform: uppercase;
}
.menu-utama li a{
	color: #555;
	text-decoration: none;
	font-weight: 600;
}
.menu-utama>li>a:before{
	content: '\00a0';
	width: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #e0e0e0;
}
.menu-utama li a:hover{
	color: #94d543 !important;
}
.menu-utama li:first-child a:before{
	border-left: none;
	content: none;
}
.menu-utama>li.menupromo{
	margin: 0 -20px 0 10px !important;
	padding: 0 !important;
}
.menu-utama>li.menupromo a{
	margin: 0;
	padding: 0;
}
.btn-menu-promo 	 {
	background-color: #ff9b2f;
	color: #fff !important;
	padding: 4px 10px;
	border-radius: 5px;
	text-align: center !important;
	top: -4px;
}
.btn-menu-promo:hover{
	background-color: #ff6000;
}
/* livesupport */
.livesupport-btn{
  position: fixed;
  right: 100px;
  bottom: 0;
}
.livesupport-btn a{
  width: 200px;
  background-color: #78A300;
  border: solid 1px #78A300;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.livesupport-btn a:hover{
  background-color: #6A9600;
  color: #fff;
}
.livesupport-btn a:hover span{
  background-color: #527303;
}
.livesupport-btn a span{
  display: inline-block;
  padding: 5px 12px;
  background-color: #6A9600;
  margin-right: 10px;
}
.livechatbanner{
	background-image: url('../img/livechat-btn.png');
	width: 220px;
	height: 192px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	right: 0;
}
.livechatbanner .livesupportclose{
	position: absolute;
	right: 0;
	top: -15px;
	color: #b0b0b0 !important;
	background-color: transparent !important;
	display: block;
	border: none;
	width: 10px;
}
.livechat-btn{
	display: none;
}
.livechatbanner .bubblespeech a{
	margin: 4px 7px 0 110px;
	background-color: transparent;
	border: none;
	height: 55px;
	display: block;
	width: 105px;
}
.main-sitemap{
	margin: 20px auto !important;
	padding: 0;
	list-style: none;
}
.main-sitemap li{
	display: inline-block;
	margin: 0 5px !important;
	padding: 0 !important;
	font-size: 11px;
}

.rwnews li{
	margin: 2px 0;
	border-bottom: solid 1px #444;
}
.rwnews li:last-child{
	border-bottom: none;
}
.rwnews li a{
	font-size: 14px;
	color: #fff;
	font-size: 12px;
}
.newsdatum{
	display: block;
	font-size: 7pt;
	margin-bottom: 10px;
}