/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2014, 4:08:57 PM
    Author     : Krish
*/
/* =Buttons
======================================*/
.fbtn {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    padding: 12px 46px;
    padding-bottom: 9px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; }

.fbtn:hover {
    color: #fff; }

.fbtn.yellow {
    background-color: #dcaf37;
    webkit-box-shadow: 0 3px 0 #a47c11;
    -moz-box-shadow: 0 3px 0 #a47c11;
    box-shadow: 0 3px 0 #a47c11; }

.fbtn.yellow:hover {
    background-color: #a47c11; }

.fbtn.cyan {
    background-color: #06b3db;
    webkit-box-shadow: 0 3px 0 #04718a;
    -moz-box-shadow: 0 3px 0 #04718a;
    box-shadow: 0 3px 0 #04718a; }

.fbtn.cyan:hover {
    background-color: #04718a; }

.fbtn.green {
    background-color: #37c441;
    webkit-box-shadow: 0 3px 0 #159b1e;
    -moz-box-shadow: 0 3px 0 #159b1e;
    box-shadow: 0 3px 0 #159b1e; }

.fbtn.green:hover {
    background-color: #159b1e; }
.fbtn.dark-green {
    background-color: #71b02f;
    webkit-box-shadow: 0 3px 0 #4d8118;
    -moz-box-shadow: 0 3px 0 #4d8118;
    box-shadow: 0 3px 0 #4d8118; }

.fbtn.dark-green:hover {
    background-color: #4d8118; }

.fbtn.brown {
    background-color: #df8e0f;
    webkit-box-shadow: 0 3px 0 #9b6107;
    -moz-box-shadow: 0 3px 0 #9b6107;
    box-shadow: 0 3px 0 #9b6107; }

.fbtn.brown:hover {
    background-color: #9b6107; }

.fbtn.white {
    background-color: #fff;
    webkit-box-shadow: 0 3px 0 #000000;
    -moz-box-shadow: 0 3px 0 #000000;
    box-shadow: 0 3px 0 #000000; }

.fbtn.darkblue {
    background-color: #3e73a2;
    webkit-box-shadow: 0 3px 0 #174873;
    -moz-box-shadow: 0 3px 0 #174873;
    box-shadow: 0 3px 0 #174873; }

.fbtn.darkblue:hover {
    background-color: #174873; }

.fbtn.bright-blue {
    background-color: #2c95dc;
    webkit-box-shadow: 0 3px 0 #09466f;
    -moz-box-shadow: 0 3px 0 #09466f;
    box-shadow: 0 3px 0 #09466f; }

.fbtn.bright-blue:hover {
    background-color: #09466f; }

.fbtn.orange {
    background-color: #fba848;
    webkit-box-shadow: 0 3px 0 #c8802d;
    -moz-box-shadow: 0 3px 0 #c8802d;
    box-shadow: 0 3px 0 #c8802d; }

.fbtn.orange:hover {
    background-color: #c8802d; }

.fbtn.blue {
    background-color: #3991db;
    webkit-box-shadow: 0 3px 0 #1d5f96;
    -moz-box-shadow: 0 3px 0 #1d5f96;
    box-shadow: 0 3px 0 #1d5f96; }

.fbtn.blue:hover {
    background-color: #6aaee8; }

.fbtn.small {
    font-size: 19px;
    padding: 5px 15px 2px 15px; }

.fbtn.md {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 5px; }
.fbtn.btncaption{
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 28px;
    padding-right: 28px;
    font-family: 'proxima_nova_rgbold';
}
.fbtn.btncaption .btn-des{
    font-size: 14px;
    color: #e5f3fd;
    display: block;
    text-shadow: none;
    font-family: 'proxima_novaregular_italic';
}