#inkfo_infobar_container{
    -moz-box-shadow: inset 0px -1px 0px 0px #232323;
    -webkit-box-shadow: inset 0px -1px 0px 0px #232323;
    box-shadow: inset 0px -1px 0px 0px #232323;
    background-color: #444444;
    border-bottom: 1px solid #232323;
}
#inkfo_infobar_container .inkfo_infobar .inkfo_dif_color{
    color: #eeb00b;
    text-transform: uppercase;
    /*font-family: 'proxima_novasemibold';*/
    margin-right: 20px;
}
#inkfo_infobar_container .inkfo_infobar .inkfo_click{
    margin-left: 20px;
}
#inkfo_infobar_container .inkfo_infobar p.inkfo_text{
    font-size: 17px;
}
#inkfo_infobar_container .ibtn.yellow {
    background-color: #ffbe03;
    webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    color:#000000;
    /*font-family: 'proxima_nova_rgbold';*/
}