#inkfo_infobar_container {
    /*font-family: 'proxima_novalight';*/
    /*    position: fixed;
        top: 0;*/
    width: 100%;
    -moz-box-shadow: inset 0px -1px 0px 0px #2ff1ac;
    -webkit-box-shadow: inset 0px -1px 0px 0px #2ff1ac;
    box-shadow: inset 0px -1px 0px 0px #2ff1ac;
    background-color: #10bb7d;
    border-bottom: 1px solid #2ff1ac;
    display: inline-block;
    padding: 0px 0 0px 0;
    z-index: 1000;
}

#inkfo_infobar_container .inkfo_infobar {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#inkfo_infobar_container .inkfo_infobar p.inkfo_text {
    margin-bottom: 10px;
    color: #fff;
    font-size: 19px;
    position: relative;
    display: inline-block;
    margin-right: 24px;
    padding-top: 8px;
    margin-top: 0;
}

#inkfo_infobar_container .inkfo_infobar .inkfo_dif_color {
    color: #ffdc52;
}

#inkfo_infobar_container .inkfo_infobar .inkfo_click {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 17px;
}

#inkfo_infobar_container #inkfo_clock {
    display: inline-block;
    color: #fff;
    position: relative;
    margin-right: 0;
    /*font-family: 'proxima_novasemibold';*/
    font-size: 14px;
}

#inkfo_infobar_container #inkfo_clock .digi_shape {
    background-color: #13548f;
    display: inline-block;
    color: #fff;
    padding: 6px 8px 6px 8px;
    text-align: center;
    margin-right: 2px;
    border: 1px solid #3792e4;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    padding-top: 8px;
}

#inkfo_infobar_container #inkfo_clock .digi_shape.last {
    margin-right: 0;
}

#inkfo_infobar_container .inkfo_infobar .inkfo_limited {
    display: inline-block;
    color: #ffdc52;
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 1366px) {
    #inkfo_infobar_container #inkfo_clock {
        display: none;
    }
}

@media only screen and (max-width: 1015px) {
    #inkfo_infobar_container .inkfo_infobar p.inkfo_text {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 992px) {
    /*    #inkfo_infobar_container{
            position: absolute;
            top: 54px;
        } */
}

@media only screen and (max-width: 556px) {
    #inkfo_infobar_container .inkfo_infobar p.inkfo_text {
        font-size: 16px !important;
    }

    #inkfo_infobar_container .inkfo_infobar .inkfo_click {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    #inkfo_infobar_container .inkfo_infobar .inkfo_click {
        margin-top: 6px;
    }
}